@use "../../variables";

.box {
  margin: 1.5rem;
  height: 80vh;
  opacity: 0;
  animation-name: anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-weight: 800;
  line-height: 3rem;
}

.btn {
  background: variables.$primary;
  color: white;
  display: block;
  width: calc(100% - 3rem);
  bottom: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  &:disabled {
    background: lighten(variables.$gray, 20%);
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
